body {
    background-color: rgb(11, 22, 34);
    color:rgb(114, 138, 161);
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 1.6rem;
    height: 100vh;
}

a {
    text-decoration: none;
    color: rgb(114, 138, 161);
}

#rechercher{
    width: 500px;
    height: 48px;
    border-radius: 50px;
    border: none;
    background-color: rgb(21, 31, 46);
    color: rgb(114, 138, 161);
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}

.nav_icon{
    cursor: pointer;
    margin: 0 10px 0 10px;
    width: 22px;
}

nav > form {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header{
    height: 100px;
}

header{
    padding: 0 100px;
    background-color: rgb(29, 47, 70);
    
}

footer {
    background-color:rgb(17, 22, 29);
    color:rgb(114, 138, 161);
    text-align: center;
    margin-top: 50px;
}

.legend {
    display: flex;
    justify-content: space-around;
}

.information {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.information > p {
    margin: 0 10px;
}

.legend .circle{
    border-radius: 50%;
    color: #fff;
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
}

footer hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px auto;
    width: 80%;
}
  
footer img {
    width: 30px;
    height: 30px;
    margin: 10px;
}


.container {
    max-width: 1520px;
    padding-left: 100px;
    padding-right: 100px;
	margin: 0 auto;
    min-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.results {
    display: grid;
    grid-gap: 28px 30px;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: space-between;
}

.coverimage {
    border-radius: 2%;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    z-index: 5;
	height: 278px;
	width: 195px;
}

article {
    display: grid;
    grid-template-rows: -webkit-min-content auto;
    grid-template-rows: min-content auto;
    position: relative;
    width: 185px;
}

.title {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 21px;
    margin-top: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.list-status[status=RELEASING] {
    background: #2ecc71;
    box-shadow: 0 0 5px rgb(123 213 85 / 80%);
    opacity: 1;
}

.list-status[status=NOT_YET_RELEASED]{
	background: #e74c3c;
	box-shadow: 0 0 5px rgb(250 122 122 / 80%);
	opacity: 1;
}

.list-status[status=FINISHED]{
	background: #3ccde7;
	box-shadow: 0 0 5px rgba(85, 172, 213, 0.8);
	opacity: 1;
}

.results .circle {
    border-radius: 50%;
    color: #fff;
    height: 15px;
    width: 15px;
	transform: translate(-40%, -25%);
	position: absolute;
	z-index: 10; /* Valeur de z-index supérieure */
}

.header {
    background-color: rgb(21, 31, 46);
}

.banner {
    width: 100%;
    object-fit: cover;
    filter: drop-shadow(0 0 0.75rem black);
    max-height: 400px;
	/* Only work for Chrome, Opera 15 and Safari 4 */
	-webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.cover {
    border-radius: 2%;
    box-shadow: 0 0 29px rgba(0, 0, 0, 0.5);
	margin-top: -100px;
	margin-left: 200px;
    position: relative;
    z-index: 5;
}

.titleA{
	padding-left: 25%;
	margin-top: -200px;
}

.desc {
	position: static;
	padding-left: 25%;
    font-size: 1rem;
    line-height: 20px;
	padding-bottom: 1px;
	width: 70%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
	text-align: justify;
}

.genres {
	display: flex;
	flex-wrap: wrap;
	padding-left: 25%;
    padding-bottom: 50px;
}

.genre {
	background: hsl(50,52%,75%);
    border-radius: 10px;
    color: hsl(42,37%,22%);
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: 11px;
    padding: 0 12px;
    text-transform: lowercase;
}

.lecteur {
	padding-top: 20px;
	padding-left: 25%;
}

.ep_num {
	padding-left: 25%;
}

.ep_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1rem 0;
	padding-left: 25%;
	padding-right: 29.5%;
	
}

.ep_nav_link {
    background: hsl(50,52%,75%);	
    border-radius: 10px;
    color: hsl(42,37%,22%);
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: 11px;
    padding: 0 12px;
}

.episodes {
	border-radius: 5px;
	border: none;
    background-color:rgb(0, 0, 0);
	color: rgb(114, 138, 161);
	font-size: 1.2rem;
	padding: 10px;
	position: relative;
	left: 25%;
}

.recommendations{
	padding-left: 23.8%;
}

.recommendations .results {
    display: grid;
    grid-gap: 28px 30px;
    grid-template-columns: repeat(auto-fill, 130px);
    justify-content: space-between;
}

.recommendations article img{
	width: 130px;
	height: 180px;
}

.recommendations article .title{
	font-size: small;
	max-width: 130px;
}