{% extends 'base.html' %}

{% block head %}

    {% if anime.title['english'] %}
        <title>{{anime.title['english']}}</title>
    {% else %}
        <title>{{anime.title['romaji']}}</title>
    {% endif %}


{% endblock %}


{% block body %}

<div class="page-content">

    <div class="header_wrapper">
        {% if anime.banner_image %}
            <img src="{{anime.banner_image}}" alt="banner image" class="banner">
        {% else %}
            <img src="https://preview.redd.it/dtljzwihuh861.jpg?width=960&crop=smart&auto=webp&s=afcfc996c8cff92d665f1219beeebd8744ab84f2" alt="banner image" class="banner">

        {% endif %}
    </div>

        <div class="header">
            <img src="{{anime.image_url}}" class="cover">

            {% if anime.title['english'] %}
                <h3 class="titleA">{{anime.title['english']}}</h3>
            {% else %}
                <h3 class="titleA">{{anime.title['romaji']}}</h3>
            {% endif %}

            <p class="desc">{{anime.description}}</p>
            <div class="genres">
                {% for genre in anime.genres %}
                    <p class="genre">{{ genre }}</p>
                {% endfor %}
            </div>
        </div>

    </div>

    <select name="lang" class="langue" onchange="window.location.href=this.value">
        <option value="/anime/{{anime.id}}/{{ep|abs}}/vostfr" {% if lang == "vostfr" %}selected{% endif %}>VOSTFR</option>
        <option value="/anime/{{anime.id}}/{{ep|abs}}/vf" {% if lang == "vf" %}selected{% endif %}>VF</option>
    </select>

    <div class="episode">
    {% if ep == -1 %}
        <h3 class="lecteur">Pas d'épisode trouver</h3>
        <img src="{{ url_for('static', filename='image/sorry.gif') }}" alt="sorry" class="lecteur">

    {% else %}

        <p class="ep_num">Épisode {{ep}}</p>
        
        <div class="ep_nav">
            {% if ep > 1 %}
                <a href="/anime/{{anime.id}}/{{ep-1}}/{{lang}}" class="ep_nav_link">< Épisode précédent</a>
            {% endif %}
            {% if ep < nb_episodes %}
                <a href="/anime/{{anime.id}}/{{ep+1}}/{{lang}}" class="ep_nav_link">Épisode suivant ></a>
            {% endif %}
        </div>

            <select name="episodes" class="episodes" onchange="window.location.href=this.value">
                {% for i in range(1, nb_episodes+1) %}
                    <option value="/anime/{{anime.id}}/{{i}}/{{lang}}" {% if i == ep %}selected{% endif %}>Épisode {{i}}</option>
                {% endfor %}
            </select>


        <div id="lecteur">
            {% for url_video in urls_video %}
                <iframe id="video-frame" src="{{url_video}}" frameborder="0" allowfullscreen width="840" height="500"></iframe>
            {% endfor %}
        </div>

    </div>

    {% endif %}
    {% if recommendations != [] %}
    <div class="recommendations">
        {% if anime.title['english'] %}
            <h6>Recommendations because you watch {{anime.title['english']}}</h6>
        {% else %}
            <h6>Recommendations because you watch {{anime.title['romaji']}}</h6>
        {% endif %}

        <div class="results">

            {% for r_anime in recommendations %}
                <article>
                    <a href="/anime/{{r_anime.id}}/1/vostfr">
                        <div status="{{ r_anime.status }}" class="list-status circle"></div>
                        <img src="{{ r_anime.image_url }}" class="coverimage">	
                    </a>
                    <a href="/anime/{{r_anime.id}}/1/vostfr" class="title">
                    {% if r_anime.title['english'] %}
                        {{r_anime.title['english']}} 
                    {% else %}
                        {{r_anime.title['romaji']}} 
                    {% endif %}
                    </a>
                </article>
            {% endfor %}

        </div>

    </div>
    {% endif %}

</div>
<script src="{{ url_for('static', filename='js/save.js') }}"></script>

<script>
    window.onload = function() {
        var episode = "{{ ep }}";
        var animeId = "{{ id }}";
        var image = "{{ anime.image_url }}";
        var animeTitle = "{{ anime.title['english'] or anime.title['romaji'] }}";

        storeAnimeAndEpisode(episode, animeId, image, animeTitle);
    };
</script>

{% endblock %}
