{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}


<div class="page-content">

    <div class="header_wrapper">
        {% if anime.banner_image %}
            <img src="{{anime.banner_image}}" alt="banner image" class="bannerImage">
        {% else %}
            <img src="https://preview.redd.it/dtljzwihuh861.jpg?width=960&crop=smart&auto=webp&s=afcfc996c8cff92d665f1219beeebd8744ab84f2" alt="banner image" class="bannerImage">

        {% endif %}

        <div class="title_desc">
            {% if anime.title['english'] %}
                <p class="animeTitle">{{anime.title['english']}}</p>
            {% else %}
                <p class="animeTitle">{{anime.title['romaji']}}</p>
            {% endif %}
            <p class="animeDesc">{{anime.description}}</p>
            <div class="genres">
                {% for genre in anime.genres %}
                    <p class="anime_genre">{{ genre }}</p>
                {% endfor %}
            </div>
        </div>

        <img src="{{anime.image_url}}" alt="anime image" class="animeImage">

    </div>
    
    {% if ep == -1 %}
    <div class="ep_list">
        <h3>Pas d'épisode trouver</h3>
        <img src="{{ url_for('static', filename='image/sorry.gif') }}" alt="sorry" class="sorry">
    </div>

    {% else %}

        <div class="ep_list">

            <p class="ep_num">Épisode {{ep}}</p>
            <iframe src="{{url_video}}" frameborder="0" allowfullscreen width="840" height="500"></iframe>

            <div class="ep_nav">
                {% if ep > 1 %}
                    <a href="/anime/{{anime.id}}/{{ep-1}}" class="ep_nav_link">< Épisode précédent</a>
                {% endif %}
                {% if ep < nb_episodes %}
                    <a href="/anime/{{anime.id}}/{{ep+1}}" class="ep_nav_link">Épisode suivant ></a>
                {% endif %}
            </div>

        </div>

    {% endif %}

</div>


{% endblock %}
