{% extends 'base.html' %}

{% block head %}


{% endblock %}


{% block body %}


<div class="page-content">

    <div class="header_wrapper">
        {% if anime.banner_image %}
            <img src="{{anime.banner_image}}" alt="banner image" class="bannerImage">
        {% else %}
            <img src="https://preview.redd.it/dtljzwihuh861.jpg?width=960&crop=smart&auto=webp&s=afcfc996c8cff92d665f1219beeebd8744ab84f2" alt="banner image" class="bannerImage">

        {% endif %}

        <div class="title_desc">
            {% if anime.title['english'] %}
                <p class="animeTitle">{{anime.title['english']}}</p>
            {% else %}
                <p class="animeTitle">{{anime.title['romaji']}}</p>
            {% endif %}
            <p class="animeDesc">{{anime.description}}</p>
            <div class="genres">
                {% for genre in anime.genres %}
                    <p class="anime_genre">{{ genre }}</p>
                {% endfor %}
            </div>
        </div>

        <img src="{{anime.image_url}}" alt="anime image" class="animeImage">

    </div>
        
    <div class="ep_list">

        {% for episode in list_episodes %}
            <div class="ep">
                <p class="ep_num">Episode {{ loop.index }}</p>
                <iframe src="{{episode}}" frameborder="0" allowfullscreen></iframe>
            </div>
        {% endfor %}

    </div>

</div>


{% endblock %}
