<!DOCTYPE html>
<html> 
    <head>
        <!-- <title>Otaku Eyes</title> -->
        <link rel="icon" href="{{ url_for('static', filename='image/logo.png') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <header>
            <nav>

                <form action="/browse" method="post">
                    
                    <a href="/home" >
                        <img src="{{ url_for('static', filename='image/logo.png') }}" alt="logo" width="55" height="50">
                    </a>
                
                    <h6>
                        <a href="/home" > Home </a>
                    </h6>
                    
                    <h6>
                        <a href="/top_anime" > Top Anime </a>
                    </h6>

                    <input type="button" id="random_anime" value="Random anime">

                    <script type="text/javascript">
                    document.querySelector("#random_anime").addEventListener("click", (e) => {
                        fetch("/api/random_anime", {method: "GET"})
                        .then((response) => {return response.json()})
                        .then((data) => window.location.assign(`/anime/${data.id}/1/vostfr`));
                    });
                    </script>

                    <label for="rechercher">
                        <input type="text" name="search" placeholder="Rechercher..." id="rechercher">
                        <input type="image" src="{{ url_for('static', filename='image/loupe.png') }}"
                         alt="Rechercher une offre" class="nav_icon">
                    </label>
                
            </form>
            </nav>
        </header>
        {% block body %}{% endblock %}
        <br>
        <div class="legend">
            <div class="information">
                <div status="RELEASING" class="list-status circle"></div>
                <p>Anime currently airing</p>
            </div>
            <div class="information">
                <div status="NOT_YET_RELEASED" class="list-status circle"></div>
                <p>Anime not yet released</p>
            </div>
            <div class="information">
                <div status="FINISHED" class="list-status circle"></div>
                <p>Anime finished</p>
            </div>
        </div>
        <footer>
            <hr>
            <a href="https://github.com/YuToutCourt/OtakuEyes-Flask"><img src="{{ url_for('static', filename='image/github.png') }}" alt="GitHub logo"></a>
        </footer>
    </body>
</html>
