{% extends 'base.html' %}

{% block head %}


{% endblock %}


{% block body %}
<br>
<div class="container">
    <div class="results">
    {% for anime in animes %}
    <article>
        <a href="anime/{{anime.id}}/1">
            <div status="{{ anime.status }}" class="list-status circle"></div>
            <img src="{{ anime.image_url }}" class="coverimage">	
        </a>
        <a href="anime/{{anime.id}}/1" class="title">
        {% if anime.title['english'] %}
            {{anime.title['english']}} 
        {% else %}
            {{anime.title['romaji']}} 
        {% endif %}
        </a>
    </article>
    {% endfor %}
    </div>
</div>


{% endblock %}