{% extends 'base.html' %}

{% block head %}


{% endblock %}


{% block body %}

<div class="results">
{% for anime in animes %}

    <article class="card">

        <div class="genres">
            {% for genre in anime.genres %}
                <p class="anime_genre">{{ genre }}</p>
            {% endfor %}
        </div>
        
        {% if anime.is_adult %}
            <a href="anime/{{anime.id}}/1" class="anime_url">
                <img src="{{ anime.image_url }}" alt="anime image" class="imageA18">
            </a>
        {% else %}
            <a href="anime/{{anime.id}}/1" class="anime_url">
                <img src="{{ anime.image_url }}" alt="anime image" class="imageA">
            </a>
        {% endif %}



        {% if anime.title['english'] %}
         <h5 class="anime_title">{{anime.title['english']}}</h5>
        {% else %}
            <h5 class="anime_title">{{anime.title['romaji']}}</h5>
        {% endif %}

    </article>
{% endfor %}
</div>


{% endblock %}