{% extends 'base.html' %}

{% block head %}


{% endblock %}


{% block body %}
<div class="container">
<h3>Last episode aired</h3>

<div class="results">
    {% for anime in anime_main_page %}
        <div class="results">
            <article>
                <div status="{{ anime.status }}" class="list-status circle"></div>
                <a href="anime/{{anime.id}}/{{anime.episode}}/vostfr">
					<img src="{{ anime.image_url }}" class="coverimage">	
				</a>
				<a href="anime/{{anime.id}}/{{anime.episode}}/vostfr" class="title">
                {% if anime.title['english'] %}
                    {{anime.title['english']}} - Ep {{anime.episode}}
                {% else %}
                    {{anime.title['romaji']}} - Ep {{anime.episode}}
                {% endif %}
                </a>
            </article>
            </div>
    {% endfor %}
    </div>
    <h3>Resume your viewing</h3>
    <div id="anime-list" class="results">
        <!-- Anime entries will be dynamically added here -->
    </div>
</div>

<script>
    window.onload = function() {
        console.log('onload');
        // Retrieve stored anime data from local storage
        var storedAnime = localStorage.getItem('anime');

        if (storedAnime) {
            // Parse the stored anime data from JSON to an array of objects
            var storedAnimeArray = JSON.parse(storedAnime);

            // Get the anime-list element
            var animeList = document.getElementById('anime-list');

            // Loop through the stored anime data and create HTML elements for each entry
            storedAnimeArray.forEach(function(anime_) {
                
                // Create HTML elements for anime entry
                var article = document.createElement('article');

                var linkImage = document.createElement('a');
                linkImage.setAttribute('href', `anime/${anime_['id']}/${anime_['episode']}/vostfr`);

                var image = document.createElement('img');
                image.setAttribute('src', anime_['image']);
                image.setAttribute('class', 'coverimage');

                var linkTitle = document.createElement('a');
                linkTitle.setAttribute('href', `anime/${anime_['id']}/${anime_['episode']}/vostfr`);
                linkTitle.setAttribute('class', 'title');
                var titleText = document.createTextNode(`${anime_['title']} - Ep ${anime_['episode']}`);
                linkTitle.appendChild(titleText);

                // Append elements to the article
                linkImage.appendChild(image);
                article.appendChild(linkImage);
                article.appendChild(linkTitle);

                // Append the article to the anime-list element
                animeList.appendChild(article);
            });
        }
    };
</script>
{% endblock %}