{% extends 'base.html' %}

{% block head %}


{% endblock %}


{% block body %}
<div class="container">
<h3>Last episode aired</h3>

<div class="results">
    {% for anime in anime_main_page %}
        <div class="results">
            <article>
                <div status="{{ anime.status }}" class="list-status circle"></div>
                <a href="anime/{{anime.id}}/{{anime.episode}}/vostfr">
					<img src="{{ anime.image_url }}" class="coverimage">	
				</a>
				<a href="anime/{{anime.id}}/{{anime.episode}}/vostfr" class="title">
                {% if anime.title['english'] %}
                    {{anime.title['english']}} - Ep {{anime.episode}}
                {% else %}
                    {{anime.title['romaji']}} - Ep {{anime.episode}}
                {% endif %}
                </a>
            </article>
            </div>
    {% endfor %}
    </div>
</div>
{% endblock %}