{% extends 'base.html' %}

{% block head %}


{% endblock %}


{% block body %}
<br>
<div class="container">
    <h5 class="title">TRENDING NOW</h5>
    <div class="results">
    {% for anime in trending_now %}

        <article>
            <a href="anime/{{anime.id}}/1/vostfr">
                <div status="{{ anime.status }}" class="list-status circle"></div>
                <img src="{{ anime.image_url }}" class="coverimage">	
            </a>
            <a href="anime/{{anime.id}}/1/vostfr" class="title">
            {% if anime.title['english'] %}
                {{anime.title['english']}}
            {% else %}
                {{anime.title['romaji']}}
            {% endif %}
            </a>
        </article>

    {% endfor %}
    </div>
</div>
<br><br><br>
<div class="container">
    <h5 class="title">POPULAR THIS {{current_season}} SEASON</h5>
    <div class="results">
    {% for anime in this_season %}
        <article>
            <a href="anime/{{anime.id}}/1/vostfr">
                <div status="{{ anime.status }}" class="list-status circle"></div>
                <img src="{{ anime.image_url }}" class="coverimage">	
            </a>
            <a href="anime/{{anime.id}}/1/vostfr" class="title">
            {% if anime.title['english'] %}
                {{anime.title['english']}}
            {% else %}
                {{anime.title['romaji']}}
            {% endif %}
            </a>
        </article>
    {% endfor %}
    </div>
</div>
<br><br><br>
<div class="container">
    <h5 class="title">ALL TIME POPULAR</h5>
    <div class="results">
    {% for anime in most_popular %}
        <article>
            <a href="anime/{{anime.id}}/1/vostfr">
                <div status="{{ anime.status }}" class="list-status circle"></div>
                <img src="{{ anime.image_url }}" class="coverimage">	
            </a>
            <a href="anime/{{anime.id}}/1/vostfr" class="title">
            {% if anime.title['english'] %}
                {{anime.title['english']}} 
            {% else %}
                {{anime.title['romaji']}} 
            {% endif %}
            </a>
        </article>
    {% endfor %}
    </div>
</div>

{% endblock %}